* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        }
        .container{
            display: grid;
            width: 100vw;
            height: 100vh;
            max-height: 100%;
            grid-template-areas:"header header header"
            "main main main" 
            "footer footer footer";
            grid-template-columns: repeat(1,3fr);
            grid-template-rows: 15% 1fr 20%;
        }
        header{
            grid-area: header;
            display: grid;
            justify-items: center;
            align-items: center;
            background-color:rgb(196, 194, 194);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 32px;
            font-weight: bolder;
        }
        main{
            display: grid;
            grid-area: main;
            width: 100vw;
            background-color: rgb(241, 236, 211);
            grid-template-columns: 70% 30%;
        }
        .aside{
        background-color: rgb(222, 239, 203);;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 32px;
            font-weight: bolder;
            justify-items: center;
            align-items: center;
            
    }
        .section{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr 1fr 1fr;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 32px;
            font-weight: bolder;
            justify-items: center;
            align-items: start;
        }
    
        .box{
            background-color: rgb(234, 231, 231);
        }
        .box:nth-child(4) {
            grid-column: 1/3;
        }
    .hat{
        grid-column: 1/3;
    }
    .box_12, .box_3{
        display: grid;
        width: 90%;
        text-align: center;
        align-items: center;
        height: 115px;
        background-color: rgb(237, 188, 96);
    }
    .box_3{
        width: 95%;
    }
        footer{
            display: grid;
            grid-area: footer;
            background-color:rgb(196, 194, 194);
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 1fr ;
            justify-items: center;
            align-items: center;
        }
        .footer_text{
            display: grid;
            width: 70% ;
            height:70%;
            background-color: rgb(234, 231, 231);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 32px;
            font-weight: bolder;
            justify-items: center;
            align-items: center;
        }
        p{
            margin-top: 30px;
        }